name: Deploy Azure Durable Functions - sylphrena-orchestrator

on:
  push:
    branches:
      - main
    paths:
      - 'API_DURABLE/**' # Solo se activa si tocas la API
      - '.github/workflows/main_sylphrena-orchestrator.yml'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  
env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './API_DURABLE'
  PYTHON_VERSION: '3.12'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/requirements.txt

      - name: Zip artifact
        run: |
          cd ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          zip -r ../release.zip ./*
          cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Azure Login
        uses: azure/login@v2
        with:
          # AQUI ESTABA EL ERROR: Ahora usamos los nombres largos exactos de tu imagen (Set "4 days ago")
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_086C433CEED9474E8EB96E9070E98D72 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DDCC9E884D6B41078D7DCED74557071C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_19F82A72A9F140E18B05F0F6D2460C71 }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'sylphrena-orchestrator'
          package: '.'